// Colors
$fuchsia-pink-50: #fdf6fd;
$fuchsia-pink-100: #f9ebfc;
$fuchsia-pink-200: #f4d7f7;
$fuchsia-pink-300: #edb7f0;
$fuchsia-pink-400: #e38be7;
$fuchsia-pink-500: #cd4ed3;
$fuchsia-pink-600: #b73fba;
$fuchsia-pink-700: #9a319a;
$fuchsia-pink-800: #7e2a7d;
$fuchsia-pink-900: #682766;
$fuchsia-pink-950: #430f41;
